!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Upload Test</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
</head>
<style>
    .btn-xs {
        padding: .25rem .4rem;
        font-size: .700rem;
        line-height: .7;
        border-radius: .2rem;
    }
</style>
<body>
<div class="container">
    <form id="form" enctype="multipart/form-data" th:object="${post}" onsubmit="return false">
        <input type="hidden" id="id" th:if="*{id != null and id > 0}" th:field="*{id}" />
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="title" th:value="*{title}"></input>
            </div>
        </div>
        <div class="form-group row">
            <label for="memberId" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
            <div class="col-sm-10">
                <input type="text" name="memberName" class="form-control" id="memberName" th:value="*{memberName}">
            </div>
        </div>
        <div class="form-group row">
            <label for="contents" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea name="contents" class="form-control" id="contents">[[*{contents}]]</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="files" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input name="files" id="files" type="file" multiple="multiple" class="custom-file-input">
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                </div>
            </div>
            <div id="fileList" style="margin:40px;">
                <strong>첨부파일 : </strong>
                <br>
                <div id=uploadFileList>
                </div>
            </div>
            <br>
            <div th:if="${not #lists.isEmpty( fileList )}">
                <div id="fileList" style="margin:40px;">
                    <strong>기존 첨부파일 : </strong>
                    <div th:each="row, status : ${fileList}" >
                        <img th:src = "@{'/gallery/display?id=' + ${row.id}}" width="80"/>
                        <a th:href="@{'/gallery/download/' + ${row.id}}" th:text="${row.origFileName}"></a>
                        &nbsp;<button type="button" onclick="deleteFile(this)" th:value="${row.id}" class="btn btn-danger btn-xs">X</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" id="btnSave" role="button" value="글쓰기">
            </div>
        </div>
    </form>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function() {
        $("#files").on("change", function(e) {
            inputFile(e);
        });

        $("#btnSave").on("click", function() {
            saveGallery();
        });
    });

    var fileCount = 0;
    var totalCount = 10;
    var fileNum = 0;
    var inputFileList = new Array();
    var deleteFileList = new Array();

    function inputFile(e) {

        var files = e.target.files;

        var filesArr = Array.prototype.slice.call(files);

        if (fileCount + filesArr.length > totalCount) {
            alert('파일은 최대 ' + totalCount + '개까지 업로드 할 수 있습니다.');
            return;
        } else {
            fileCount = fileCount + filesArr.length;
        }

        filesArr.forEach(function(f) {
            var reader = new FileReader();
            reader.onload = function(e) {
                inputFileList.push(f);
                $('#uploadFileList').append('<div id="file' + fileNum + '" onclick="fileDelete(\'file' + fileNum + '\')">' + '<font style="font-size:15px">' + f.name + '</font><div/>');
                fileNum++;
            };
            reader.readAsDataURL(f);
        });
        $("#files").val("");
    }

    function deleteFile(elem) {

        console.log(elem.value);
        $(elem).parent().remove();

        if (!deleteFileList.includes(elem.value)) {
            deleteFileList.push(elem.value);
        }
    }

    function fileDelete(fileNum) {

        var no = fileNum.replace(/[^0-9]/g, "");
        inputFileList[no].is_delete = true;
        $('#' + fileNum).remove();
        fileCount--;
    }


    function saveGallery() {

        var formData = new FormData($("form")[0]);

        formData.append("deleteFiles", deleteFileList);

        for (var i = 0; i < inputFileList.length; i++) {
            if(!inputFileList[i].is_delete){
                formData.append("files", inputFileList[i]);
            }
        }

        $.ajax({
            type : "POST",
            enctype : "multipart/form-data",
            url : "/gallery",
            data : formData,
            dataType:"json",
            processData : false,
            contentType : false,
            success : function(result) {
                console.log(result);
                if (result.response == "OK") {
                    if ($("#id").val() == undefined) {
                        alert("저장되었습니다.");
                    } else {
                        alert("수정되었습니다.");
                    }

                    location.href = "/gallery/edit/" + result.galleryId;
                } else {
                    alert(result.errorMsg);
                }
            },
        });
    }
    /*]]>*/
</script>
</body>
</html>